* {
  margin: 0;
  padding: 0;
}

.h2-font {
  font-size: 30px;
}

.black-background {
border: 60px solid rgb(36, 36, 36);
border-top: 30px solid rgb(36, 36, 36);;
  
}


.top-box {
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  /* padding-left: 20px;
  padding-right: 20px; */
  background-color: #0b132a;
  color: aliceblue;
}

.second-box {
  /* border: 10px solid red; */
  padding-top: 40px;
  padding-bottom: 4cqb;
}

.third-box {
 display: flex;
 justify-content: center;
 padding: 8%;
  background-color: rgb(212, 208, 208);
  font-size: 20px;
  font-weight: 400;
}

.third-box-content-container {
  /* border: 5px solid red; */
  width: 400px;
}

.blue-box-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.blue-rounded-box {
  border: 2px solid blue;
  height: 100px;
  width: 130px;
  border-radius: 15px;
}

.nav-container {
  /* border: 10px solid rebeccapurple; */
}

.subtext {
  font-size: 14px;
  color: rgb(176, 189, 201);
}

.description-box {
  display: flex;
  flex-direction: column;
  width: 370px;
}

h2 {
  margin-bottom: 8px;
  font-size: large;
}

ul {
  list-style: none;
  display: flex;
  /* justify-content: space-around; */
}

.right {
  display: flex;
  /* border: 3px solid; */
  flex: 3 1 auto;
  justify-content: flex-end;
  gap: 25px;
  font-size: smaller;
}

.left {
  font-size: larger;
  margin: 0;
  display: flex;
  /* border: 3px solid; */
  flex: 1 1 auto;
  justify-content: flex-start;
}

.image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 150px;
  border: solid;
  background-color: #776b5d;
}

.top-box-bottom {
  display: flex;
  padding: 80px 0px;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 10px;
  width: 120px;
  padding: 10px 0;
  background-color: #6993bc;
  color: aliceblue;
  /* box-shadow: 0 0 20px rgba(104, 85, 224, 0.2); */
  /* transition: 0.4s; */
}

.sign-up {
  background-color: blue;
}
.random-info-box-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 25px;
}

.blue-box-with-text {
  display: flex;
  flex-direction: column;
  width: 130px;
}

p {
  padding-top: 5px;
  text-align: justify;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.signature {
  text-align: end;
  font-size: 18px;
  font-weight: bold;
}

.last-container {

  padding: 75px;

  
}

.bottom-blue-container {
  

  background-color: rgb(56, 56, 255);
  border-radius: 8px;

  padding: 40px;
  padding-left: 150px;
  
}


.text-blue-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
}

.flex-inside-blue-box {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.sign-up-bottom {
  border: 3px solid white;
  background-color: transparent;
}

.footer-container {
  /* border: 2px solid; */
}

footer {
  padding: 3%;
  display: flex;
  justify-content: center;
  background-color: #0b132a;
  color: aliceblue;
  font-size: small;
}





